.head-space {
    height: 1px;
}

#main-section {
    background-size: cover;
    background: -webkit-linear-gradient(top, #0e1b41, #000000) no-repeat;
}

.intro-text {
    vertical-align: bottom;
    padding-top: 30px;
    color: white;
    text-align: justify;
}

.intro-text p {
    padding-top: 4px;
    font-size: 1.4vmax;
    line-height: 1.5vmax;
}

.intro-text h2 {
    font-size: 1.3vmax;
    /*padding-bottom: 70px;*/
    text-align: center;
    color: #1dace8;
    font-weight: bolder;
    font-stretch: normal;
    text-decoration: none;
}

#information .container {
    width: 85%;
}

body {
    font-family: 'Aldrich', sans-serif;
    color: white;
}

div {
    display: block;
}

.center {
    text-align: center;
}

.container {
    width: 75%;
    margin: 0 auto;
    padding-top: 30px;
}

.logo img {
    height: 20vh;
    width: auto;
}

.custom-section {
    font-family: 'Aldrich', sans-serif;
    height: 100%;
    width: 100%;
    background: #000000;
    /*background: -webkit-gradient(linear, top left, bottom left, from(#0e1b41), to(#000000));*/
    /*background: linear-gradient(#0e1b41, #000000);*/
}

#menu {
    position: fixed;
    top: 20px;
    right: 20px;
    z-index: 70;
    font-style: inherit;
    -webkit-font-smoothing: antialiased;
    -moz-font-smoothing: antialiased;
    letter-spacing: 1px;
    font-size: 1.1em
}

#menu li {
    display: inline-block;
    margin: 0px 0
}

#menu a {
    color: #ffffff;
    padding: 0 .7em .7em;
    text-decoration: none;

}

#particles canvas {
    display: block;
    vertical-align: bottom;
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    opacity: 1;
    z-index: -1;
    -webkit-transition: opacity .8s ease, -webkit-transform 1.4s ease;
    transition: opacity .8s ease, transform 1.4s ease
}

#particles {
    width: 200%;
    height: 200%;
    position: absolute;
    z-index: 100;
    top: 0;
    left: 0
}
.icon-links {
    display: flex;
    justify-content: space-between;
    padding-top: 4vh;
}

.icon-links img {
    padding-bottom: 10px;
    width: 100%;
    line-height: 100%;
    max-width: 100px;
    vertical-align: middle;
}

.icon-links figcaption {
    /*margin: 10px 0 0 0;*/
    /*font-variant: small-caps;*/
    display: table-caption;
    caption-side: bottom;
    padding-top: 0.5em;
    text-align: center;
    border: none;
}

.icon-links figure {
    float: left;
    border: none;
    text-align: center;
    padding: 5px;
    display: table;
    width: 30%;
}

#information {
    background: black;
}

#sec-1-sl-1 div.container {
    width: 75%;
}

.about-us-sections {
    width: 100%;
    height: 50%;
    margin-inside: 5px;
    text-align: left;
    font-size: 1.3vmax;
    vertical-align: top;
    float: top;
}

.section-content {
    height: 100%;

}

.section-heading {
}

#sec-1-sl-1 .section-heading {
    font-size: 1.4vmax;
    color: #1dace8;
}

#sec-1-sl-1 .section-content {
}

.information-sections {
    width: 100%;
    height: 50%;
    margin-inside: 5px;
    text-align: left;
    font-size: 1.3vmax;
    vertical-align: top;
    float: left;
}

#info-sl-2 {
    display: flex;
    flex-flow: row wrap;
}

.section-heading-img {
    padding-bottom: 10px;
    width: 100%;
    line-height: 100%;
    max-width: 100px;
    vertical-align: middle;
    float: left;
}

#info-sl-2-sec-1 {
    width: 50%;
    vertical-align: middle;
}

#info-sl-2-sec-1 img {
    vertical-align: middle;
    width: 100%;
    max-width: 100px;
}

#info-sl-2-sec-1 table {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

#light-up {
    color: greenyellow;
}