<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>IBG Carbon</title>
    <link rel="stylesheet" type="text/css" href="./css/jquery.fullPage.css"/>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.9.1/jquery-ui.min.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Aldrich" rel="stylesheet">
    <script type="text/javascript" src="./js/jquery.fullPage.js"></script>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <script>
        $(document).ready(function () {
            $('#fullpage').fullpage({
                //Navigation
                menu: '#menu',
                lockAnchors: false,
                //anchors: ['firstPage', 'secondPage'],
                navigation: true,
                navigationPosition: 'right',
                navigationTooltips: ['Home', 'About Us'],
                showActiveTooltip: false,
                slidesNavigation: true,
                slidesNavPosition: 'bottom center',


                //Scrolling
                css3: true,
                scrollingSpeed: 700,
                autoScrolling: true,
                fitToSection: true,
                fitToSectionDelay: 1000,
                scrollBar: false,
                easing: 'easeInOutCubic',
                easingcss3: 'ease',
                loopBottom: false,
                loopTop: false,
                loopHorizontal: true,
                continuousVertical: false,
                continuousHorizontal: false,
                scrollHorizontally: true,
                interlockedSlides: false,
                dragAndMove: false,
                offsetSections: false,
                resetSliders: false,
                fadingEffect: false,
                normalScrollElements: '#element1, .element2',
                scrollOverflow: false,
                scrollOverflowReset: false,
                scrollOverflowOptions: null,
                touchSensitivity: 15,
                normalScrollElementTouchThreshold: 5,
                bigSectionsDestination: null,

                //Accessibility
                keyboardScrolling: true,
                animateAnchor: true,
                recordHistory: true,

                //Design
                controlArrows: false,
                // sectionsColor: ['#0E1B41', '#00D8D8', '#00D8D8', '#00D8D8'],
                verticalCentered: true,
                paddingTop: '0px',
                paddingBottom: '0px',
                fixedElements: '#header, .footer',
                responsiveWidth: 0,
                responsiveHeight: 0,
                responsiveSlides: false,
                parallax: false,
                parallaxOptions: {type: 'reveal', percentage: 62, property: 'translate'},

                //Custom selectors
                sectionSelector: '.section',
                slideSelector: '.slide',

                lazyLoading: true,

                //events
                onLeave: function (index, nextIndex, direction) {
                },
                afterLoad: function (anchorLink, index) {
                },
                afterRender: function () {
                },
                afterResize: function () {
                },
                afterResponsive: function (isResponsive) {
                },
                afterSlideLoad: function (anchorLink, index, slideAnchor, slideIndex) {
                },
                onSlideLeave: function (anchorLink, index, slideIndex, direction, nextSlideIndex) {
                }
            });
        });
    </script>
    <script type="application/javascript" src="./js/particles.min.js"></script>

    <link rel="stylesheet" href="./css/main.css">

</head>
<body>

<ul id="menu">
    <li data-menuanchor="firstPage"><a href="#firstPage">First section</a></li>
    <li data-menuanchor="secondPage"><a href="#secondPage">Second section</a></li>
    <li data-menuanchor="thirdPage"><a href="#thirdPage">Third section</a></li>
    <li data-menuanchor="fourthPage"><a href="#fourthPage">Fourth section</a></li>
</ul>
<div id="fullpage">
    <div class="section" id="main-section">
        <div class="head-space"></div>
        <div id="particles"></div>
        <div class="container">
            <div class="logo center">
                <img src="./media/logo.svg" alt="LOGO">
            </div>

        </div>
    </div>
    <div class="section custom-section" id="section1">
        <div id="particles1"></div>
        <div class="head-space"></div>
        <div class="slide">
            <div class="container">
                <div class="intro-text">
                    <h2>WHAT IS ACTIVATED CARBON?</h2>
                    <p>As a leader in the industry, IBG Carbon Pvt. Limited has set the bar with its unwavering
                        commitment
                        to quality, performance and exceptional customer care. Through our extensive selection of
                        services,
                        we go above and beyond to ensure your needs are not just met, but exceeded.</p>
                </div>
                <div class="icon-links">
                    <figure>
                        <img src="media/question.svg">
                        <figcaption>ACTIVATED CARBON</figcaption>
                    </figure>
                    <figure>
                        <img src="media/flow.svg">
                        <figcaption>TYPES</figcaption>
                    </figure>
                    <figure>
                        <img src="media/factory.svg">
                        <figcaption>APPLICATIONS</figcaption>
                    </figure>


                </div>
            </div>
        </div>
        <div class="slide">
            <div class="container">
                <div class="intro-text">
                    <p>As a leader in the industry, IBG Carbon Pvt. Limited has set the bar with its unwavering
                        commitment
                        to quality, performance and exceptional customer care. Through our extensive selection of
                        services,
                        we go above and beyond to ensure your needs are not just met, but exceeded.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="section" style="background: #4BBFC3">
        <div class="head-space"></div>
        <div class="container">
            <div class="logo center">
                <img src="./media/logo.svg" alt="LOGO">
            </div>
        </div>
    </div>

</div>
<script>
    particlesJS.load('particles', './json/particlesjs-config.json', function () {
        console.log('callback - particles.js config loaded');
    });
</script>
</body>
</html>